<%- content_for :board do -%>
<%= javascript_include_tag "game.js" %>

<script>
var board = <%= @game.board %>;
var pusher = new Pusher("4930");
var woefulChannel = pusher.subscribe("tictacwoe");

$(document).ready(function() {
  setup(board);
});

woefulChannel.bind('mark-cell', function(move) {
  move = jQuery.parseJSON(move);
  console.log("Pusher notification: " + move[0] + " (" + move[1] + ")");
  $("#cell" + move[0]).children().attr("src",  "../images/" + move[1] + ".png");
  $("#cell" + move[0]).children().fadeIn();
});

</script>

<div id="board">
    <div id="cell0" class="cell"><img id="cimg0"/></div><div id="cell1" class="cell"><img id="cimg1"/></div><div id="cell2" class="cell"><img id="cimg2"/></div>
    <div id="cell3" class="cell"><img id="cimg3"/></div><div id="cell4" class="cell"><img id="cimg4"/></div><div id="cell5" class="cell"><img id="cimg5"/></div>
    <div id="cell6" class="cell"><img id="cimg6"/></div><div id="cell7" class="cell"><img id="cimg7"/></div><div id="cell8" class="cell"><img id="cimg8"/></div>
  </div>

  <div id="scores">
  <div id="player_score">Wins:</div>
	
  <div id="opponent_score">Losses:</div>
  </div>
  <div id="notification"></div>

<%- end -%>